*.o
/build/
/dist/
/platform/scheme/build/
/platform/scheme/dist/
*.swp
*~
/c4_modules/c4-assembler/build/
/c4-internal/build/
/c4_modules/c4-internal/build/
/c4-internal/dist/
/or1k/c4_modules/c4-internal/build/
/or1k/c4_modules/c4-assembler/build/